# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.env
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
data/customer/samples/purchase_matrix_sparse.npz
data/customer/samples/purchase_matrix_dense.npy
